<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Page</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <script src="~/js/Scripts.js"></script>
</head>
<body id="BodyCommonStyle">
    <header id="HeaderCommonStyle">
        <h1 style="font-size: 24px; margin-left: 10px; margin-bottom: 3%;">Material Supply Company</h1>
    </header>
    <content id="ContentCommonStyle">
        @RenderBody()
    </content>
    <footer id="FooterCommonStyle">

    </footer>
</body>
</html>